@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

.header-logo {
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 50px;
    top: 41px;
}

.login {
    display: flex;
    justify-content: center;
}

.login-background {
    position: absolute;
    width: 450px;
    height: 661px;
    top: 158px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.login-entrar {
    margin-left: 68px;
    margin-top: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.login-email {
    margin-left: 68px;
    margin-top: 28px;
    width: 314px;
    height: 50px;
    background: #393939;
    outline: 0;
    border: #393939;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 15px;
    padding: 18px;
}

.login-senha {
    margin-left: 68px;
    margin-top: 16px;
    width: 314px;
    height: 50px;
    background: #393939;
    border: #393939;
    border-radius: 4px;
    outline: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 15px;
    padding: 18px;
}

.login-button {
    margin-left: 68px;
    margin-top: 41px;
    width: 314px;
    height: 50px;
    outline: 0;
    background: #FF0000;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgb(231, 231, 231);
    transition: all ease 0.5s;
    cursor: pointer;
}

.login-button:hover {
    background-color: #5e0000;
}

#login-checkbox {
    margin-left: 68px;
    margin-top: 12px;
    background-color: #707070;
}

.login-text {
    position: absolute;
    margin-left: 6px;
    top: 345px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.438);
}

.login-ajuda {
    margin-left: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.438);
    cursor: pointer;
    transition: all ease 0.5s;
}

.login-ajuda:hover {
    color: #fff;
}

.text {
    margin-top: 88px;
    margin-left: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.44);
}

.text-1 {
    position: absolute;
    top: 451px;
    left: 185px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    transition: all ease 0.5s;
}

.text-1:hover {
    filter: opacity(50%);
}

.text-2 {
    margin-top: 10px;
    margin-left: 68px;
    width: 307px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.44);
}

footer {
    position: absolute;
    width: 1920px;
    height: 171px;
    left: 0px;
    top: 909px;
    background: rgba(0, 0, 0, 0.6);
}

/* @media (max-width: 1000px) {
    body {
        background-color: rgb(20, 20, 20);
    }

    .header-logo {
        display: none;
    }

    .background {
        display: none;
    }

    footer {
        display: none;
    }

    .login-background {
        width: 800px;
        height: 1500px;
    }
} */